
.bg_color{
    min-height: 100vh;
    background-color: #ECEFF1;

}
.padding_all{
    padding: 10px;
}
.price_title{
    font-weight: 600;
    color: #fff;
}
.card_title{
    font-weight: 600;
    font-size: 20px;
    
}
.card_title_border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.price_sub-title{
    font-size:14px ;
    color: #fff;
}
.iconStyle{
    margin: 20px 0px 0px 20px !important;
    color: #fff;

}

.gradient{
    background-color: #63a91f;
    background-image: linear-gradient(314deg, #63a91f 0%, #1a512e 74%);
}
.gradient_light{
    background-color: #ea2027;
    background-image: linear-gradient(315deg, #ea2027 0%, #ee5a24 74%);
    
}
